.DW {
    background-image: url(../../../assets/dw.svg);
    background-size: cover;
}
.TW {
    background-image: url(../../../assets/tw.svg);
    background-size: cover;
}
.DL {
    background-image: url(../../../assets/dl.svg);
    background-size: cover;
}
.TL {
    background-image: url(../../../assets/tl.svg);
    background-size: cover;
    color: white;
}
.NM {
    background-image: url(../../../assets/em.svg);
    background-size: cover;
}

.tile {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    user-select: none;
    justify-content: center;
}

.tile:hover { 
    opacity: .5;
    -webkit-filter: grayscale(20%) sepia(20%); 
}
